[submodule "Semestre1/SAE/SAE - Dev/grp12_gautier-titouan_manson-luna_rosaclot-jules"]
	path = Semestre1/SAE/SAE - Dev/grp12_gautier-titouan_manson-luna_rosaclot-jules
	url = https://gitlab.univ-nantes.fr/but/2021-2022/r101/s101/tp12/grp12_gautier-titouan_manson-luna_rosaclot-jules.git
