body {
    --bw100: #181743 ;
    --bw200: #3F474B ;
    --bw300: #7F8A8F ;
    --bw400: #BEC7CC ;
    --bw500: #DDE6EA ;
    --bw600: #F3F8FB ;
    --bw700: #FFFFFF ;
    --burple100:#2407D8 ;
    --burple200:#5034FF;
    --burple300:#6D6AF4;
    --burple400:#BEBDFF;
    --burple500:#DFE8FF;
}
h2 {
    color: #7F8A8F;
}

.couleur {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    justify-content: left;
    
}
.bw100 {
    background-color: var(--bw100)
}
.bw200 {
    background-color: var(--bw200)
}
.bw300 {
    background-color: var(--bw300) 
}
.bw400 {
    background-color: var(--bw400);
}
.bw500 {
    background-color: var(--bw500) ;
}
.bw600 {
    background-color: var(--bw600);
}
.bw700 {
    background-color: var(--bw700);
}
.burple100 {
    background-color: var(--burple100)
}
.burple200 {
    background-color: var(--burple200)
}
.burple300 {
    background-color: var(--burple300)
}
.burple400 {
    background-color: var(--burple400)
}
.burple500 {
    background-color: var(--burple500)
}

/* Bouton */

button {
    border-radius: 40px;
    border: none;
    color: var(--bw700);
    
    padding: 24px 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px ;
    width: 194px;
    height: 84px;


    transition: all case-in-out 125ms;
}
.bouton1 {
    background: var(--burple200) ;
}
.bouton2 {
    background: var(--burple100) ;
}