* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  


/* ===== Button ===== */

button,
.button {
  border-radius: 40px;
  transition: all ease-in-out 125ms;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button.large,
.button.large {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

button.large:not(.text),
.button.large:not(.text) {
  padding: 24px 32px;
}

button.medium,
.button.medium {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

button.medium:not(.text),
.button.medium:not(.text) {
  padding: 20px 24px;
}

button.small,
.button.small {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}

button.smallb,
.button.smallb {
  font-weight: 900;
  font-size: 16px;
  line-height: 30px;
}

button.small:not(.text),
.button.small:not(.text) {
  padding: 12px 20px;
}

button.primary,
.button.primary {
  background: var(--burple-200);
  color: var(--bw-700);
  border: none;
}

button.primary:hover,
.button.primary:hover {
  background: var(--burple-100);
}

button.secondary,
.button.secondary {
  background: var(--bw-700);
  border: 3px solid var(--bw-100);
  color: var(--bw-100);
}

button.secondary:hover,
.button.secondary:hover {
  background: var(--bw-100);
  color: var(--bw-700);
}

button.tertiary,
.button.tertiary {
  background: var(--burple-500);
  border: 3px solid var(--bw-100);
  color: var(--burple-100);
}

button.tertiary:hover,
.button.tertiary:hover {
  background: var(--bw-100);
  color: var(--bw-700);
}

button.textb,
.button.textb {
  background: none;
  color: var(--accent);
  border: none;
}

button.text,
.button.text {
  background: none;
  color: var(--blue1);
  border: none;
}

