body {
    /* Colors */
    --bw-100: #181743;
    --bw-200: #3f474b;
    --bw-300: #7f8a8f;
    --bw-400: #bec7cc;
    --bw-500: #dde6ea;
    --bw-600: #f3f8fb;
    --bw-700: #ffffff;
  
    --burple-100: #271e64;
    --burple-200: #5034ff;
    --burple-300: #bebdff;
    --burple-400: #6d6af4;
    --burple-500: #dfe8ff;
  
    --green-100: #1877bc;
    --green-200: #0db8ae;
    --green-300: #4edbd2;
    --green-400: #9bfff9;
    --green-500: #d9fffd;
  
    --alert-red-100: #ee1313;
    --alert-red-200: #fd5d5d;
    --alert-red-300: #ff9e9e;
    --alert-red-400: #ffd4d4;
  
    --alert-green-100: #039700;
    --alert-green-200: #2ad027;
    --alert-green-300: #92f590;
    --alert-green-400: #c7fec6;
  
    --alert-yellow-100: #ea7e00;
    --alert-yellow-200: #ffa53c;
    --alert-yellow-300: #ffc27a;
    --alert-yellow-400: #ffebc5;
  
    --blue1: #141C3A;
    --blue2:#535E88;
    --blue3:#DCDCDE;
    --blue4:#F9FBFD;
  
    --accent: #8428F8;
  
    --main-font: Poppins, arial, sans-serif;
  }

  .titre {
    margin-top: 6%;
    margin-bottom: 2%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .graphe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5% 20% 5% 20%;
    
  }

  .graphe > .gauche {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap:100px;
  }

  .graphe > .droite {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 100px;
  }
  .graphe > .gauche > div {
      text-align: right;
  }

  .graphe > .droite > div {
    text-align: left;
  }

  .graphe > .gauche > div > h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

  }

  .graphe > .droite > div > h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    
  }

  .graphe > .gauche > div > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    
    color: #535E88;
  }

  .graphe > .droite > div > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    
    color: #535E88;
  }

  .milieu > hr {
    border: none;
    width: 1px;
    background: var(--blue3);
  }

  .experience > hr {
      border: none;
      height: 1px;
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      background: #E5EBF2;
  }

  .gauche > .box { 
     /* background-color: red; */
     width: 380px;
     height: 150px;
  }

  .droite > .box {
      /* background: blue; */
      width: 380px;
      height: 150px;
  }

  .experience > .ligne {
      flex-direction: column;
  }

  .milieu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 10px;
      gap: 5px;
  }

  .round {
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background: var(--accent);
  }

  .ligne {
    border: none;
    width: 1px;
    height: 230px;
    background: var(--blue3)
  }