  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf) format('woff2');
  }

  /* @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Black.ttf) format('woff2');
  }

  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-BlackItalic.ttf) format('woff2');
  }

  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf) format('woff2');
  }

  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-BoldItalic.ttf) format('woff2');
  }

  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Italic.ttf) format('woff2');
  }

  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf) format('woff2');
  }
  
  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-LightItalic.ttf) format('woff2');
  }

  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Medium.ttf) format('woff2');
  }

  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-MediumItalic.ttf) format('woff2');
  }

  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-MediumItalic.ttf) format('woff2');
  } */